.notFoundPage {
  min-height: 100vh;
  background-color: whitesmoke;
  margin-left: 100px;
}

.title {
  margin-top: 100px;
  margin-bottom: 50px;
}

.text {
  font-size: 1.5em;
}

.link {
  color: #4481c3;
}
